* {
  box-sizing: border-box;
  color: #424748;
}

.restaurant-image {
  max-width: 30%;
  border: 5px solid rgba(165, 42, 42, 0.778);
  border-radius: 10px;
}

body {
  background-image: url("../images/tortilla.png");
  background-color: tan;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > nav {
  background: rgb(131,58,180);
  background: linear-gradient(354deg, rgba(16, 7, 22, 0.8) 0%, rgba(135, 16, 16, 0.71) 50%, rgba(167, 116, 45, 0.82) 100%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  margin-bottom: 2rem;
}

#reviews {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
}

form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 20rem));
  border: 2px solid rgba(165, 42, 42, 0.778);
  border-radius: 10px;
  /* grid-template-columns: auto auto; */
}

#new-form input {
  grid-column-start: 2;
  border-radius: 5px;
}

label[for="proteins"] {
  grid-column: span 2;
}

#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form img {
  max-width: 90%;
}

#yelp-search {
  border: 2px solid rgba(165, 42, 42, 0.778);
  border-radius: 10px;
}

input[type=submit] {
  width: 100%;
  background-color: rgba(165, 104, 42, 0.778);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b76b00ab;
}

.splash {
  border: 5px solid rgba(165, 42, 42, 0.778);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 70%;
  max-width: 70%;
  opacity: .8;
  border-radius: 10px;
}

.login, .logout {
  display: flex;
  justify-content: right;
  height: 34px;
}

nav>a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: pink;
}

.login img {
  height: 30px;
}

.review-rating {
  justify-content: right;
}

#show-page {
  display: flex;
  align-items: center;
}

#show-page article {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-left: 2rem;
}

#show-page article label {
  font-weight: bold;
}

#add-review-form textarea {
  width: 60vw;
  height: 10rem;
}

thead {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 20rem));
}

tbody {
  display: grid;
  grid-template-columns: repeat(1, auto);
  text-decoration: overline;
}

tbody tr {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  box-sizing: border-box;
}

#details {
  color:brown;
}