body {
  background-image: url("../images/tortilla.png");
  background-color: tan;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table thead th {
  padding: 20px;
}

form {
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
}

.splash {
  justify-content: center;
  max-height: 75%;
  max-width: 75%;
  opacity: .6;
}

.login {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}