<%- include('../partials/header') %>

<h1>Edit Review</h1>

    <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
        <input name="text" value="<%= review.text %>">
        <button type="submit">UPDATE REVIEW</button>
    </form>

<%- include('../partials/footer') %>
